@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker|Signika:400,700&display=swap');



body {
  font-family: 'Signika', sans-serif;
  background-image: url('assets/skyrimBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; 
  margin:4%;
}

.container {
    position: justify;
    padding: 3%;
    margin: auto;
    max-width: 500px;
    border: solid rgb(96, 100, 100);
    background-color: rgba(211, 233, 253, 0.911);
}

header {
    padding: 0.3%;
    margin: 3%;
    border-bottom: solid rgba(0, 0, 0, 0.493);
}